*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.lista-item{
    display: inline-block;
    padding: 0 12px;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}